@media (max-width: 900px){
    #nav-nor{
        display: none;
    }
    #ham-nav{
        display: flex;
    }
    .home-grid{
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: space-between;
    }
    .fdescr{
        gap: 0;
    }

    .such-link{
        margin-bottom: 25px;
    }
}